<!-- <input
  type="text"
  class="form-control"
  [(ngModel)]="userInput"
  (ngModelChange)="onValueChange($event)" /> -->
<!-- <p>{{ userInput }}</p> -->

<!-- filter with pipe -->
<input type="text" class="form-control" [(ngModel)]="filteredStatus">

<div class="container">
  <div class="row">
    <div *ngFor="let album of albums | filter:filteredStatus:'title'; let i = index">
      <div (click)="onAlbumHandler(album.id)">
        {{ i + 1 }} - {{ album.title | shorten:30 }}
      </div>
    </div>
  </div>
</div>
