<!-- <input
  type="text"
  class="form-control"
  [(ngModel)]="userInput"
  (ngModelChange)="onValueChange($event)" /> -->
<!-- <p>{{ userInput }}</p> -->

<!-- filter with pipe -->
<div>
  <form>
    <div class="input-group mb-3">
      <input type="search" class="form-control form-control-sm" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="filteredStatus" name="search">
    </div>
    <div class="card mb-2" *ngFor="let album of albums | filter:filteredStatus:'title'; let i = index" (click)="onAlbumHandler(album.id)">
      <div class="card-header bg-dark text-white">Album {{album.id}}</div>
      <div class="card-body" >
        <h5 class="card-title">
          {{ album.title | shorten:30 }}
        </h5>
      </div>
    </div>
  </form>
</div>



